{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
   <head>
      <meta charset="UTF-8">
      <title>Sushrat Hospital</title>
      <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
      <link rel="stylesheet" href="{% static 'css/hospital.css' %}">
   </head>
      <body class="align" >
      {% block show_content %}

      {% endblock %}
         <div class="grid" >
            {% block content %}

            {% endblock %}
         </div>
        </body>
</html>